/* Dracula Theme for CSS */

/* Base colors */
:root {
  --dracula-background: rgb(40, 42, 54);
  --dracula-current-line: #44475a;
  --dracula-foreground: #cdd2d3;
  --dracula-comment: #6272a4;
  --dracula-cyan: #0cf1de;
  --dracula-green: #4b6931;
  --dracula-orange: #ffb86c;
  --dracula-pink: #ff64bc;
  --dracula-purple: #bd93f9;
  --dracula-red: #ff5555;
  --dracula-yellow: #f1fa8c;
}

body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    background: rgb(40,42,54);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left:35% ;
    
    
}

h1 {
    font-family:cursive;
    color: var(--dracula-foreground);
    margin-bottom: 8rem;
}
img {
  float: left;
}

/* ToDo.css */
.toDo {
    display: inline-block; /* Display ToDo items inline */
    width: 50rem; /* Adjust the width as needed */
    margin-bottom: 3rem;
    margin-right: 3rem;
    border: 1px solid var(--dracula-current-line);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.349);
    overflow-wrap: break-word;
}

.toDo-upper-section {
    /* Styles for the upper section if needed */
    background-image: linear-gradient(to bottom right, var(--dracula-green), var(--dracula-cyan));
    height: 20px;
    border-radius: 20px;
    margin: 10px;
}


.toDo-lower-section {
    padding: 10px;
    border-top: 1px solid var(--dracula-current-line);
    text-align: left;
    overflow-wrap: break-word;
}

p {
    color: var(--dracula-comment);
    margin: 10px;
}

.button {
    background-color: transparent;
    color: var(--dracula-foreground);
    border: 1px solid;
    border-color: var(--dracula-purple);;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 40%;
    cursor: pointer;
    font-size: inherit;
}

.button:hover {
    background-color: var(--dracula-pink);
}

/* AddTodo.css */
/* Style the form and input area */
#newToDoForm {
    font-size: inherit;
    display: block;
    align-items: center;
    width: 50rem;
}

label {
    font-weight: bold;
    margin-bottom: 10rem;
    color: var(--dracula-purple);
}

textarea {
  background-color: var(--dracula-comment);
    color: var(--dracula-background);
    font-size: inherit;
    width: 100%;
    padding: 10px;
    border: 10px solid var(--dracula-current-line);
    border-radius: 30px;
    resize:none;
    box-shadow: 1px 10px 10px 10px rgba(0, 0, 0, 0.349);
}

#addButton {
   border-color : var(--dracula-green);
   color:var(--dracula-green);
   padding-right:.6rem;
}

#addButton:hover {
   background-color : var(--dracula-cyan);
   color:  var(--dracula-foreground);
}

ul {
   list-style-type:none;
   padding :0px; 
}
